<!DOCTYPE html>
<html lang="es-cl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido, sitio web de alejandro</title>
</head>
<body>
  {% include "./components/header.html" %}
  <main>
    <h1>¡Hola 👋!</h1>
    <p>En este sitio personal, encontrarás algunas ideas en las que estoy trabajando en la actualidad, y mis redes sociales</p>
    <ul>
    {% for post in collections.post %}
      <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
    </ul>
  </main>
  <footer></footer>
</body>
</html>

