html, body {
  margin: 0 auto;
  padding: 0rem;
  font-family: 'PT Serif', Times, serif;
  background-color: #f4f4f4;
  max-width: 620px;
}

body {
  padding: 1rem;
}

p, li {
  line-height: 1.5;
  color: #333;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.entry-footer svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #333;
}

.entry-footer a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #333;
}