:root {
  --primary-color: #2b0ca6;
  --secondary-color: #f4f4f4;
  --text-color: #2f2f2f;
}

html, body {
  margin: 0 auto;
  padding: 0rem;
  font-family: 'PT Serif', Times, serif;
  background-color: #f4f4f4;
  max-width: 620px;
  color: var(--text-color);
}

body {
  padding: 1rem;
}

p, li {
  line-height: 1.5;
  color: var(--text-color);
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 1rem 0;
}

.posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}

.posts-list li {
  margin-bottom: 0.5rem;
}

.social-icons svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--text-color);
}

.social-icons a {
  text-decoration: none;
  margin-right: 10px;
  color: var(--text-color);
}