{{- define "main" }}

{{- if (and site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>
    {{ .Title }}
    {{- if and (or (eq .Kind `term`) (eq .Kind `section`)) (.Param "ShowRssButtonInSectionTermList") }}
    {{- with .OutputFormats.Get "rss" }}
    <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" height="23">
        <path d="M4 11a9 9 0 0 1 9 9" />
        <path d="M4 4a16 16 0 0 1 16 16" />
        <circle cx="5" cy="19" r="1" />
      </svg>
    </a>
    {{- end }}
    {{- end }}
  </h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>
{{- end }}

{{- if not .IsHome | and .Title }}
<ul class="terms-tags">
  {{range $name, $taxonomy := .Site.Taxonomies.categories}} {{ $cnt := .Count }}
	  {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
      <div class="tag-button">
		    <a href={{ .RelPermalink }} title="All pages with tag <i>{{$name}}</i>">
          {{$name}}
        </a>
      </div>
	  {{end}}
	{{end}}
</ul>
{{- end }}


{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- $pages := union .RegularPages .Sections }}

{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true"  }}
{{- end }}

{{- $paginator := .Paginate $pages }}

{{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
{{- partial "home_info.html" . }}
{{- end }}



{{- if .IsHome  }}
  <h2 class="home-title--h2">Lecturas</h2>

  {{- $categories := slice }}
  {{- range $name, $taxonomy := .Site.Taxonomies.categories }}
    {{- $categoryPages := where $.Site.RegularPages "Params.categories" "intersect" (slice $name) }}
    {{- $categories = $categories | append (dict "name" $name "count" (len $categoryPages)) }}
  {{- end }}
  {{- $sortedCategories := sort $categories "count" "desc" }}

  {{- range $index, $category := first 3 $sortedCategories }}
    <h3 class="home-title--h3">{{ replace $category.name "-" " " }}</h3>
    <div class="category-list post-list--home">
      {{- $categoryPages := where $.Site.RegularPages "Params.categories" "intersect" (slice $category.name) }}
      {{- range $page := first 2 $categoryPages }}
        <article class="post-entry">
          <header class="entry-header">
            <h2>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
            </h2>
          </header>
          {{- if (ne (.Param "hideSummary") true) }}
          <div class="entry-content">
            <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
          </div>
          {{- end }}
        </article>
      {{- end }}
      {{- if gt (len $categoryPages) 1 }}
      <a class="entry-link--custom" href="{{ printf "/categories/%s" $category.name }}">Leer más</a>
      {{- end }}
    </div>
  {{- end }}

{{- else }}

<div class="article-list">
  {{- $term := .Data.Term }}
  
  <!-- Separate featured and regular posts -->
  {{- $featuredPages := where $paginator.Pages "Params.feature" "eq" true }}
  {{- $regularPages := where $paginator.Pages "Params.feature" "ne" true }}
  {{- $allPages := union $featuredPages $regularPages }}
  
  {{- range $index, $page := $allPages }}
    {{- $class := "post-entry" }}
    
    {{- if $page.Params.feature }}
      {{- $class = printf "%s featured" $class }}
    {{- end }}
    
    {{- $user_preferred := or site.Params.disableSpecial1stPost site.Params.homeInfoParams }}
    {{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not $user_preferred)) }}
      {{- $class = printf "%s first-entry" $class }}
    {{- else if $term }}
      {{- $class = printf "%s tag-entry" $class }}
    {{- end }}

    <article class="{{ $class }}">
      {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
      {{- if $page.Params.feature }}
        <div class="featured-content">
          {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
          <div class="featured-text">
            <header class="entry-header">
              <h2>
                {{- .Title }}
                {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
              </h2>
            </header>
            {{- if (ne (.Param "hideSummary") true) }}
            <div class="entry-content">
              <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
            </div>
            {{- end }}
            {{- if not (.Param "hideMeta") }}
            <footer class="entry-footer">
              {{- partial "post_meta.html" . -}}
            </footer>
            {{- end }}
          </div>
        </div>
      {{- else }}
        {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
        <header class="entry-header">
          <h2>
            {{- .Title }}
            {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
          </h2>
        </header>
        {{- if (ne (.Param "hideSummary") true) }}
        <div class="entry-content">
          <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
        </div>
        {{- end }}
        {{- if not (.Param "hideMeta") }}
        <footer class="entry-footer">
          {{- partial "post_meta.html" . -}}
        </footer>
        {{- end }}
      {{- end }}
      <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
    </article>
    {{- end }}
    </div>
    {{- if gt $paginator.TotalPages 1 }}
    <footer class="page-footer">
      <nav class="pagination"></nav>
        {{- if $paginator.HasPrev }}
        <a class="prev" href="{{ $paginator.Prev.URL | absURL }}"></a>
          «&nbsp;{{ i18n "prev_page" }}&nbsp;
          {{- if (.Param "ShowPageNums") }}
          {{- sub $paginator.PageNumber 1 }}/{{ $paginator.TotalPages }}
          {{- end }}
        </a>
        {{- end }}
        {{- if $paginator.HasNext }}
        <a class="next" href="{{ $paginator.Next.URL | absURL }}">
          {{- i18n "next_page" }}&nbsp;
          {{- if (.Param "ShowPageNums") }}
          {{- add 1 $paginator.PageNumber }}/{{ $paginator.TotalPages }}
          {{- end }}&nbsp;»
        </a>
        {{- end }}
      </nav>
    </footer>
  {{- end }}
{{- end }}

{{- end }}{{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}
