:root {
  color-scheme: light dark;

  /* colors */
  --primary-color: light-dark(#2b0ca6, #bf57e9);
  --secondary-color: light-dark(#f4f4f4, #F4F5DD);
  --text-base-color: light-dark(#2f2f2f, #ecf0f1);
  --background-color: light-dark(#F4F5DD, #1a1a1a);
  
  --text-primary-color: light-dark(var(--text-base-color), #d8aaeb);
  --text-body-color: light-dark(#2f2f2f, #8edff3);
  --text-icon-color: light-dark(#a16215, #77bacb);
  --text-link-color: light-dark(#a16215, #8a86f7);

  /* borders */
  --border-color: light-dark(#ddd, #333);

  /* spacing */
  --space-s: 1.5rem;

  /* tag */
  --tag-bg-color: light-dark(#a16215, #F4F5DD);
  --tag-text-color: light-dark(#fff, #1a1a1a);

}

html, body {
  margin: 0 auto;
  padding: 0rem;
  font-family: 'PT Serif', Times, serif;
  background-color: var(--background-color);
  color: var(--text-body-color);
}

body {
  padding: var(--space-s);
}

header, footer {
  max-width: 45rem;
  margin: 0 auto;
}

main img {
  max-width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: right;
}

hr {
  margin: var(--space-s) auto;
  border-color: var(--border-color);
  border-width: 1px;
  border-style: solid;
  max-width: 45rem;
}

p, li {
  font-size: 1.15rem;
  line-height: 1.5;
  color: var(--text-body-color);
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-link-color);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 1rem 0;
  color: var(--text-primary-color);
}

.posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}

.posts-list li {
  margin-bottom: var(--space-s);
  display: flex;
  flex-direction: column;

  border-color: var(--border-color);
  border-width: 2px;
  border-style: solid;
  padding: 1.5rem;
  border-radius: .5rem;
  font-size: 1.3rem;
}

.posts-list li span{
  font-size: 1rem;
}

.social-icons svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--text-icon-color);
}

.social-icons a {
  text-decoration: none;
  margin-right: 10px;
  color: var(--text-icon-color);
}

.tag {
  font-size: .75rem !important;
  color: var(--tag-text-color);
  background-color: var(--tag-bg-color);
  width: fit-content;
  line-height: none;
  padding: .125rem .5rem;
  border-radius: .5rem;
}
